{% extends 'base.html.twig' %}

{% block title %}
    Categories
{% endblock %}

{% block body %}
    <div class="main-container">
        <header>
            {% block header %}
            <div class="logo">
                <a href="log.html">Budżet domowy</a>
            </div>
            <div class="witaj">
                <p class="wyloguj"><a title="Wyloguj" href="notlog.html">Wyloguj</a></p><p class="imie">Witaj _____, </p>
            </div>
            <div class="historia">
                <p><a title="Historia" href="#">Historia</a></p>
            </div>
            {% endblock %}
        </header>
        <div class="kontener">
            <div class="miesiac">
                <a title="Zobacz poprzedni miesiac" href="#.html"><span class="fa fa-angle-left"></span></a>
                <p class="data">LUTY</p>
                <a title="Zobacz następny miesiąc" href="#.html"><span class="fa fa-angle-right"></span></a>
            </div>
            <div class="limit">
                <p>Limit: </p>
                <form action="#" method="post">
                    <input type="text" name="limit" placeholder="Podaj kwotę"/>
                </form>
            </div>
            <div class="przyciski">
                <div class="wydatki">
                    <p class="wprzycisk"><a title="dodaj wydatek" href="#">Dodaj kwote</a></p>
                </div>
                <div class="stworz_kategorie">
                    <p class="wprzycisk"><a title="stwórz kategorie" href="#">Stwórz kategorie</a></p>
                </div>
            </div>
            <div class="zostalo">
                <p>Zostało: </p>
                <form action="#" method="post">
                    <input type="text" name="zostalo"/>
                </form>
            </div>
            <div class="kategorie">
                {% if paginator.data|length %}
                    {% for row in paginator.data %}
                        <div class="kategoria k">
                            <span class="{{ row.icon }}"></span>
                            <p class="nazwa">{{ row.name|upper }}</p>
                            <a title="Skasuj kategorię" href="#"><span class="fa fa-times-circle"></span></a>
                        </div>
                    {% endfor %}
                {% endif %}





                <!--
                <div class="kategoria k">
                    <span class="fa fa-shopping-cart"></span>
                    <p class="nazwa">ZAKUPY</p>
                    <a title="Skasuj kategorię" href="#"><span class="fa fa-times-circle"></span></a>
                </div>
                <div class="kategoria k">
                    <span class="fa fa-car"></span>
                    <p class="nazwa">PALIWO</p>
                    <a title="Skasuj kategorię" href="#"><span class="fa fa-times-circle"></span></a>
                </div>
                <div class="kategoria k">
                    <span class="fa fa-credit-card"></span>
                    <p class="nazwa">RACHUNKI</p>
                    <a title="Skasuj kategorię" href="#"><span class="fa fa-times-circle"></span></a>
                </div>
                <div class="kategoria k">
                    <span class="fa fa-gamepad"></span>
                    <p class="nazwa">ROZRYWKA</p>
                    <a title="Skasuj kategorię" href="#"><span class="fa fa-times-circle"></span></a>
                </div>-->
            </div>
            <div class="paginacja">
                {% include 'default/_paginator.html.twig' with {
                paginator: paginator,
                route_name: 'month_index_paginated',} %}
            </div>
        </div>
        <footer>
            {% block footer %}
            <p>Projekt z systemu interaktywnego EPI 2017. Projekt i realizacja: Kinga Bożęcka</p>
            {% endblock %}
        </footer>
    </div>


    {#
    {% if categories|length %}
        <ul>
            {% for row in categories %}
                <li>{{ row.id }}. {{ row.title }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div>
            Brak elementów!
        </div>
    {% endif %}
    #}
{% endblock %}