{% extends 'base.html.twig' %}

{% block title %}
    One Categories
{% endblock %}

{% block body %}
    <h1>
    Pojedyncza kategoria
    </h1>
    {% if paginator.data|length %}
        <div>
            {{ categorie.id }}. {{ categorie.name }}. {{ categorie.icon }}
        </div>
    {% else %}
        <div>
            Brak kategorii!
        </div>
    {% endif %}
{% endblock %}